<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" 
      aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active" *ngIf="!seInicioSesion">
        <a class="navbar-brand" routerLink="/seguridad/identificar">Login</a>
        </li>
        <li class="nav-item active" *ngIf="seInicioSesion">
            <a class="navbar-brand" routerLink="/seguridad/cerrar-sesion">Logut</a>
        </li>
        <li class="nav-item active" *ngIf="seInicioSesion">
          <a class="navbar-brand" routerLink="/seguridad/cambio-clave">Update Password</a>
      </li>
        <li class="nav-item active" *ngIf="seInicioSesion">
          <a class="nav-link" routerLink="/administracion/empresa">Empresa</a>
        </li>
        <li class="nav-item" *ngIf="seInicioSesion">
          <a class="nav-link" routerLink="/administracion/empleado">Empleado</a>
        </li>
        <li class="nav-item" *ngIf="seInicioSesion">
          <a class="nav-link" routerLink="/administracion/proveedor">Proveedor</a>
        </li>
      </ul>
    </div>
  </nav>
